<html>
<link rel="stylesheet" href="/layout.css">
<head>
<title></title>
</head>
<body>
<p><%= r %></p>
<a href="javascript:history.back()" style="text-decoration: none">
<button class="Button">Go Back</button>
</a>


</body>
</html>
